@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Special+Elite&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.cont {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}


.subCont1 {
  background-color: #ff6b6b;
}

.subCont2 {
  background-color: #1dd1a1;
}

.subCont3 {
  background-color: #54a0ff;
}


.section {
  scroll-snap-align: center;
}

.bg {
  background-image: url('../public/poster1.jpg');
  object-fit: cover;
}

.flare1{
  animation: flare1 15s linear infinite;
}
@keyframes flare1{
  0%{
    transform: translateX(0) translateY(0);
  }
  50%{
    transform: translateX(99vw) translateY(99vh);
  }
  100%{
    transform: translateX(0) translateY(0);
  }
}

.flare2{
  animation: flare2 20s linear infinite;
}
@keyframes flare2{
  0%{
    transform: translateX(0) translateY(0);
  }
  50%{
    transform: translateX(15vw) translateY(99vh);
  }
  100%{
    transform: translateX(0) translateY(0);
  }
}

.flare3{
  animation: flare3 20s linear infinite;
}
@keyframes flare3{
  0%{
    transform: translateX(0) translateY(-4vh);
  }
  50%{
    transform: translateX(-100vw) translateY(30vh);
  }
  100%{
    transform: translateX(0) translateY(0);
  }
}

.flare4{
  animation: flare4 20s linear infinite;
}
@keyframes flare4{
  0%{
    transform: translateX(0) translateY(0);
  }
  50%{
    transform: translateX(-20vw) translateY(100vh);
  }
  100%{
    transform: translateX(0) translateY(0);
  }
}