@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.cont {
    height: 100vh;
    scroll-snap-type: y mandatory; 
    overflow-y: scroll;
    scroll-behavior: smooth; 
    font-family: "Special Elite", system-ui;
  }
  
  
  .subCont1 {
    background-color: #ff6b6b;
  }
  
  .subCont2 {
    background-color: #1dd1a1;
  }
  
  .subCont3 {
    background-color: #54a0ff;
  }
  

  .section {
    scroll-snap-align: center;
  }

  .triangle{
    clip-path: polygon(50% 0%,0% 100%,100% 100%);
  }
  